html {
    background:  #e3e3e3;
}
body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 40px;
   padding: 40px;
   color: #242424;
   border-top: 10px solid #242424;
   background: #fff;


}

h1 {
    font-size: 3em;
    margin: 0;

}

p {
   line-height: 1.4em;
  
}

#blog {
    border-top: 1px dotted #ccc;


}

.blog-post {
    border-bottom: 3px dotted #ccc;

}
 input[type="text"]{
    width: 3em;
 }

 h3 {
    font-style: italic;
 }

 img {
    width: 1000px;
 }
table {
    background-color: azure;
}