html {
    background:  #e3e3e3;
}
body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 40px;
   padding: 40px;
   color: #242424;
   border-top: 10px solid #242424;
   background: #fff;


}

nav {
    position:-webkit-sticky;
    position: sticky;
    top: 0;
}



article {
    padding: 20px;
    margin: 20px;
}

h1 {
    font-size: 3em;
    margin: 0;

}

p {
   line-height: 1.4em;
  
}

#blog {
    border-top: 1px dotted #ccc;
    display: flex;


}

.blog-post {
    border-bottom: 3px dotted #ccc;

}
 input[type="text"]{
    width: 3em;
 }

 h3 {
    font-style: italic;
 }

 img {
    width: 600px;
 }
table {
    background-color: azure;
}

.msu-img {
   
    float: right;
}

@media (max-width: 300px) {
    h1 {border: #242424;
        border: 10px;}

        #blog {
            display: inline-block;
        }


}




